<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/2afef9cfdb.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="w-100 clearfix shadow-sm px-4">
            <div class="p-2 float-end text-end right">
                <label id="name-user-login" class="text-muted"></label><br>
                <button class="btn btn-link p-0" id="logout" class="small">Cerrar Sesión</button>
            </div>
        </div>
    </nav>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Usuarios</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Libros</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Autores</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!--Empieza seccion de usuarios-->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="p-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carga-usuarios">
                    Carga masiva
                </button>
                <!-- Modal -->
                <div class="modal fade" id="carga-usuarios" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="divCargaUser">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Carga masiva Usuarios</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="files">Upload a Json formatted file:</label>
                                <input type="file" id="files" class="form-control" accept=".Json"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" id="enviarUser">Enviar archivo</button>
                            </div>
                        </div>
                    </div>
                </div> <button type="button" class="btn btn-primary" id="viewUser">Ver Usuarios</button>
                <div class="p-4"id="table-users">
                </div>
            </div>
        </div>

        <!--Empieza seccion de libros-->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="p-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carga-doctores">
                    Carga masiva
                </button>

                <!-- Modal -->
                <div class="modal fade" id="carga-doctores" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Carga masiva Doctores</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="files">Upload a CSV formatted file:</label>
                                <input type="file" id="filesDoc" class="form-control" accept=".csv" required
                                    onchange="displayCsvDoc()" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="sendMasiveCvsDoc()">Subir
                                    file</button>
                            </div>
                        </div>
                    </div>
                </div> <button type="button" class="btn btn-primary" onclick="getDoctores()">Ver Doctores</button>
                <div class="p-4">
                    <div id="table-doctores">
                    </div>
                </div>
            </div>
        </div>

        <!--Empieza seccion de autores-->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="p-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carga-enfermeras">
                    Carga masiva
                </button>

                <!-- Modal -->
                <div class="modal fade" id="carga-enfermeras" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Carga masiva Enfermeras</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="files">Upload a CSV formatted file:</label>
                                <input type="file" id="filesEnfer" class="form-control" accept=".csv" required
                                    onchange="displayCsvEnfer()" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="sendMasiveCvsEnfer()">Subir
                                    file</button>
                            </div>
                        </div>
                    </div>
                </div> <button type="button" class="btn btn-primary" onclick="getEnfermeras()">Ver Enfermeras</button>
                <div class="p-4">
                    <div id="table-enfermeras">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="//d3js.org/d3.v5.min.js"></script>
	<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
	<script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/bootstrap/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../js/bootstrap/papaparse.min.js"></script>
    <script type="module" src="../js/admin.js"></script>

</body>

</html>